.legend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  &__titre {
    font-weight: bold;
  }

  &__list {
    display: flex;
    &--item {
      font-weight: bold;
      margin-left: 1.5rem;
      margin-right: 1rem;
    }
    &--itemPoids {
      color: black;
    }
    &--itemCal {
      color: red;
    }
    &--itemitem {
      color: #74798c;
    }
  }
}

.toolAct{
  background: #E60000;
  padding: 0.5rem;

  &__titre{
    color: #FFFFFF;
    font-size: 14px;
    margin: 1.5rem 0rem 1.5rem 0rem;
  }
}

.barchart {
  &__graph {
    background: #fbfbfb;
    border-radius: 10px;
  }
}
