.legend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  &__titre {
    font-weight: bold;
  }

  &__list {
    display: flex;
    &--item {
      font-weight: bold;
      margin-left: 1.5rem;
      margin-right: 1rem;
    }
    &--itemPoids {
      color: black;
    }
    &--itemCal {
      color: red;
    }
    &--itemitem {
      color: #74798c;
    }
  }
}

.barchart {

  &__graph {
    background: #fbfbfb;
    border-radius: 10px;
  }
}
