.error {
  color: #ff0101;
  width: 100%;
  margin-top: 5rem;

  &__txt {
    font-size: 2rem;
    font-weight: bold;
    color: #c4c4c4;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.linkError {
  &__button {
    margin-top: 2rem;
    margin-left: 40%;
    padding: 2rem;
    background: #c4c4c4;
    color: white;
    border: solid 2px black;
    cursor: pointer;
  }

  &__txtAccueil {
    list-style: none;
  }
}
