.home{
    background: #FF0101;   
    margin-top: 14%;
    margin-left: 24%;
    padding: 1rem;
    width: 50%;

    &__contour{
        background: black;
        display: flex;
        justify-content: space-around;
        padding: 2rem;
    }

    &__logo{
        &--item{
            height: 90px;
            width: 90px;
        }
    }

    &__para{
        // border: solid 2px fuchsia;

        &--li{
            list-style: none;
            margin-bottom: 0.5rem;
            padding: 1rem;
            
        }

        &--lienNav{
            font-weight: bold;
            text-decoration: none;
            color: white;
        }
    }   
}