.home{
    position: relative;
    &__para{
        border: solid 2px fuchsia;
        position: fixed;
        z-index: 1;
        margin-top: 10%;
        left: 15%;

        &--lienNav{
            font-weight: bold;
        }
    }   
}