.user {
  // border: solid 6px fuchsia;
  position: relative;

  &__mainContent {
    width: 100%;
    display: flex;
    height: 100%;
  }

  &__mainContentAside {
    width: 10%;
  }

  &__mainContentSection {
    // border: solid 2px green;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &--accueil {
      // border: solid 2px fuchsia;
      margin-bottom: 2rem;
    }

    &--para {
      font-size: 48px;
      font-weight: bold;
    }

    &--name {
      color: #e60000;
      font-size: 48px;
      font-weight: bold;
    }

    &--paraTxt {
      margin-top: 1.5rem;
    }

    &--graph {
      display: flex;
      flex-direction: row;
    }

    &--graphLeft {
      // border: solid 2px blue;
      width: 80%;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
    }

    &--graphLeftBottomList {
      // border: solid 2px cadetblue;
      display: flex;
      flex-direction: row;
      width: 97%;
    }

    &--graphLeftBottomListItem {
      // border: solid 2px greenyellow;
      width: 33%;
      margin: 0.5rem;
    }

    &--graphRight {
      // border: solid 2px pink;
      margin-top: 1rem;
      margin-left: 1.5rem;
      width: 15%;
    }
  }
}

@media (max-width: 1024px) {
  .user {
    &__mainContentSection {
      padding: 30px;
      width: 100%;

      &--accueil {
        margin-bottom: 1rem;
      }

      &--para {
        font-size: 36px;
      }

      &--paraTxt {
        font-size: 20px;
      }

      &--name {
        font-size: 36px;
      }

      &--graph {
        flex-direction: column-reverse;
      }

      &--graphLeft {
        width: 100%;
      }

      &--graphLeftBottomList {
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
      }

      &--graphLeftBottomListItem {
        width: 50%;
      }

      &--graphRight {
        display: flex;
        margin-top: 2.5rem;
      }
    }
  }
}
